/* IMPORTS */ /* FONT */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Exo:wght@100&display=swap");
/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: "Exo 2", sans-serif;
}

/* HEADER con BOOTSTRAP */
.my-navbar {
  background-color: white;
  border: inset 1px black;
}
.my-navbar .navbar-nav {
  font-size: 2rem;
}
.my-navbar a {
  color: #1f698c;
  font-weight: bold;
}
.my-navbar a:hover {
  text-transform: uppercase;
  color: #62a5d9;
}

/* MIXINS */
/* MAIN del INDEX */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #62a5d9;
  border-radius: 5rem;
  width: 4vh;
  height: 4vh;
  opacity: 0.9;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
  background-color: #e48325;
  border-radius: 5rem;
  width: 5vh;
  height: 5vh;
}

.h1_index, .h2_index {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

.h1_index {
  font-size: 4rem;
  margin-top: 5rem;
}
.h1_index .h1_span {
  font-weight: bold;
}

.h2_index {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.my_figures {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  font-size: 3rem;
}

.h3_index {
  text-align: center;
  font-size: 4rem;
  background-color: #1f698c;
  color: white;
  font-weight: bold;
}

.servicios_index {
  background-color: #1f698c;
}
.servicios_index .servicios {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.servicios_index .my_figures1 {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  color: #e48325;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 10rem;
}
.servicios_index .serv_figures, .servicios_index .serv_figures1 {
  margin-bottom: 5rem;
}
.servicios_index .my_figures2 {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  color: #e48325;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}
.servicios_index p {
  color: white;
}

.ver_mas, .ver_mas1 {
  text-align: center;
  font-size: 3rem;
  background-color: #1f698c;
  height: 15rem;
}
.ver_mas .button_Ver, .ver_mas1 .button_Ver {
  display: inline-block;
  border: 3px solid white;
  background-color: #1f698c;
  border-radius: 10rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-top: 0;
}
.ver_mas .button_Ver:hover, .ver_mas1 .button_Ver:hover {
  background-color: #40d7ae;
  transition: all 1s;
}
.ver_mas a, .ver_mas1 a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.ver_mas .button_Ver1, .ver_mas1 .button_Ver1 {
  display: inline-block;
  border: 3px solid white;
  background-color: #1f698c;
  border-radius: 10rem;
  padding: 2rem;
  margin-top: 5rem;
  background-color: white;
  border: 3px solid #1f698c;
  margin-top: 1rem;
}
.ver_mas .button_Ver1:hover, .ver_mas1 .button_Ver1:hover {
  background-color: #e48325;
  transition: all 1s;
}
.ver_mas .button_Ver1:hover a, .ver_mas1 .button_Ver1:hover a {
  color: white;
}

.ver_mas1 {
  background-color: white;
  height: 15rem;
}
.ver_mas1 a {
  color: #1f698c;
}

.ver_mas2 {
  text-align: center;
  font-size: 3rem;
}
.ver_mas2 .button_Ver2 {
  display: inline-block;
  border: 3px solid white;
  background-color: #1f698c;
  border-radius: 10rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-top: 0;
  background-color: white;
  border: 3px solid #5da5df;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  top: -10rem;
}
.ver_mas2 .button_Ver2:hover {
  background-color: #5da5df;
  font-weight: bold;
  transition: all 1s;
}
.ver_mas2 .button_Ver2:hover a {
  color: white;
}
.ver_mas2 a {
  text-decoration: none;
  font-weight: bold;
  color: #5da5df;
}

/* MAIN de Quienes Somos */
.h1_quienes_somos {
  background-color: #e48325;
  color: white;
  text-align: center;
}
.h1_quienes_somos .titulo {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.h1_quienes_somos .vision {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.h1_quienes_somos .vision1 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.h1_quienes_somos .mision {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.h1_quienes_somos .mision1 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.nuestro_equipo {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nuestro_equipo1 {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.medicos {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  border: solid #1f698c 3px;
  border-radius: 2px;
}
.medicos .nombre_medico {
  text-transform: uppercase;
  color: #1f698c;
  font-weight: bold;
}
.medicos .cargo_mat {
  color: #e48325;
}

/* Main de Contacto */
.donde {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 5rem;
  font-weight: bold;
  display: block;
}

.my-form form {
  width: 35rem;
  height: 40rem;
  border-radius: 1rem;
  box-shadow: 0 0 4rem -1rem #000;
  padding: 2rem 3rem;
  margin: calc(50vh - 22rem) auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-sizing: border-box;
  position: relative;
}
.my-form form input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  font-size: 1.5rem;
  border-bottom: 2px solid #1f698c;
}
.my-form form input:focus {
  border-bottom: 2px solid #e48325;
}
.my-form form p:before {
  content: attr(type);
  display: block;
  margin: 1.5rem 0 0;
  font-size: 2rem;
  font-weight: bold;
  color: #1f698c;
}
.my-form form .enviar, .my-form form .adjuntar {
  float: left;
  padding: 1rem 1.2rem;
  margin: 1rem 0 0;
  border: 2px solid #1f698c;
  background: 0;
  font-size: 2rem;
  color: #1f698c;
  cursor: pointer;
  transition: all 0.3s;
}
.my-form form .enviar:hover, .my-form form .adjuntar:hover {
  background-color: #1f698c;
  color: white;
  font-weight: bold;
}
.my-form form .adjuntar {
  float: right;
}
.my-form h2 {
  font-size: 5rem;
  color: #1f698c;
  text-align: center;
  font-weight: bold;
}
.my-form h3 {
  font-size: 3.5rem;
  color: #1f698c;
  text-align: center;
  font-weight: bold;
  margin-top: 5rem;
}

.my-form1 {
  text-align: center;
}
.my-form1 h2 {
  font-size: 3.5rem;
  color: #1f698c;
  text-align: center;
  font-weight: bold;
  margin-top: 4rem;
}
.my-form1 svg {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-form1 .face {
  color: #1977f3;
}
.my-form1 .insta {
  color: #c1158d;
}

/* MAIN de Nuestros Servicios */
.my_cards1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my_cards {
  text-align: center;
  color: #1f698c;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.ver_mas3 {
  text-align: center;
  font-size: 2rem;
}
.ver_mas3 .button_Ver3 {
  display: inline-block;
  border: 3px solid white;
  background-color: #1f698c;
  border-radius: 10rem;
  padding: 2rem;
  margin-top: 5rem;
  margin-top: 1rem;
  background-color: white;
  border: 3px solid #1f698c;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
  top: -10rem;
}
.ver_mas3 .button_Ver3:hover {
  background-color: #1f698c;
  font-weight: bold;
  transition: all 1s;
}
.ver_mas3 .button_Ver3:hover a {
  color: white;
}
.ver_mas3 a {
  text-decoration: none;
  font-weight: bold;
  color: #1f698c;
}

/* MAIN de Novedades */
.my-imgs {
  text-align: center;
}
.my-imgs a {
  font-size: 4rem;
  text-decoration: none;
  color: #1f698c;
}
.my-imgs a:hover {
  text-transform: uppercase;
}
.my-imgs p {
  font-size: 2.5rem;
  margin-top: 3rem;
}

/* MAIN de Covid */
.my-text {
  color: #1f698c;
}
.my-text h1, .my-text h3 {
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.my-text h2, .my-text h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.my-text p {
  font-size: 2rem;
  color: grey;
}
.my-text li {
  font-size: 2rem;
  color: grey;
  margin-bottom: 1rem;
}

/* MAIN de 8_tips */
.my-text1 {
  color: #1f698c;
}
.my-text1 h1 {
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}
.my-text1 p {
  font-size: 2rem;
  color: grey;
  margin-bottom: 2rem;
}

/* FOOTER */
.my-footer {
  background-color: #1f698c;
  color: white;
}
.my-footer .my-footer-1 {
  font-size: 3rem;
}
.my-footer .my-footer-2 {
  font-size: 15px;
}

.end {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
