/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Exo:wght@100&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    body {
        font-family: 'Exo 2', sans-serif;
    }
}