/* HEADER con BOOTSTRAP */

.my-navbar {
    background-color: $background-color-2;
    border: inset 1px black;

        .navbar-nav {
            font-size: 2rem;
        }

            a {
                color: $text-color-1;
                font-weight: bold;
                &:hover {
                    text-transform: uppercase;
                    color: $text-color-3
                }
            }    
}