/* MIXINS */

@mixin general {
    text-align: center;
    color: $text-color-1;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 7rem;
    margin-right: 7rem;
}

@mixin quienes_somos_txt {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

@mixin medicos_general {
    text-transform: uppercase;
    color: $text-color-1;
    font-weight: bold;    
}

@mixin contactos {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
}

@mixin figures_serv {
    border-radius: 5rem;
    background-color: white;
    margin-bottom: 10rem;
}

@mixin button {
    display: inline-block;
    border: 3px solid $background-color-2;
    background-color: $background-color-1;
    border-radius: 10rem;
    padding: 2rem;
    margin-top: 5rem;
}

/* MAIN del INDEX */

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: $text-color-3;
    border-radius: 5rem;
    width: 4vh;
    height: 4vh;
    opacity: 0.9;

    &:hover {
        background-color: $background-color-3;
        border-radius: 5rem;
        width: 5vh;
        height: 5vh;
    }
}

.h1_index, .h2_index {
    @include general;
}

.h1_index {
    font-size: 4rem;
    margin-top: 5rem;

    .h1_span {
        font-weight: bold;
    }
}

.h2_index {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.my_figures {
    @include general;
    font-size: 3rem;
}

.h3_index {
    text-align: center;
    font-size: 4rem;
    background-color: $background-color-1;
    color: $text-color-2;
    font-weight: bold;
}

.servicios_index {
    background-color: $background-color-1;

    .servicios {
        @include general;
        color: $text-color-2;
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .my_figures1 {
        @include general;
        color: $text-color-4;
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 10rem;
    }

    .serv_figures, .serv_figures1 {
        margin-bottom: 5rem;
    }

    .my_figures2 {
        @include general;
        color: $text-color-4;
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    p {
        color: $text-color-2
    }
}

.ver_mas, .ver_mas1 {
    text-align: center;
    font-size: 3rem;
    background-color: $background-color-1;
    height: 15rem;

    .button_Ver {
        @include button;
        margin-top: 0;

        &:hover {
            background-color: $background-color-4;
            transition: all 1s;
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: $text-color-2;
    }

    .button_Ver1 {
        @include button;
        background-color: $background-color-2;   
        border: 3px solid $background-color-1;
        margin-top: 1rem;

        &:hover {
            background-color: $background-color-3;
            transition: all 1s;
            
            a {
                color: $text-color-2;
            }
        }
    }
}

.ver_mas1 {
    background-color: $background-color-2;
    height: 15rem;

    a {
        color: $text-color-1;
    }
}

.ver_mas2 {
    text-align: center;
    font-size: 3rem;

    .button_Ver2 {
        @include button;
        margin-top: 0;
        background-color: $background-color-2;
        border: 3px solid $background-color-5;
        padding: 0.5rem;
        position: relative;
        z-index: 1;
        top: -10rem;

        &:hover {
            background-color: $background-color-5;
            font-weight: bold;
            transition: all 1s;

            a {
                color: $text-color-2;
            }
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: $text-color-5;
    }
}

/* MAIN de Quienes Somos */

.h1_quienes_somos {
    background-color: $background-color-3;
    color: $text-color-2;
    text-align: center;

    .titulo {
        @include quienes_somos_txt;
        font-weight: bold;
    }

    .vision {
        @include quienes_somos_txt;
        font-weight: bold;
    }

    .vision1 {
        @include quienes_somos_txt;
    }

    .mision {
        @include quienes_somos_txt;
        font-weight: bold;
    }
    
    .mision1 {
        @include quienes_somos_txt;
    }
}

.nuestro_equipo {
    @include general;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nuestro_equipo1 {
    @include general;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.medicos {
    @include general;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    border: solid $text-color-1 3px;
    border-radius: 2px;

    .nombre_medico {
        @include medicos_general;
    }

    .cargo_mat {
        color: $text-color-4;
    }
}

/* Main de Contacto */

.donde {
    @include general;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 5rem;
    font-weight: bold;
    display: block;
}

.my-form {

    .apellido, .email, .consulta {
        color: $text-color-1;
        font-size: 2rem;
    }

    form {
        width: 35rem;
        height: 40rem;
        border-radius: 1rem;
        box-shadow: 0 0 4rem -1rem #000;
        padding: 2rem 3rem;
        margin: calc(50vh - 22rem) auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
        box-sizing: border-box;
        position: relative;

        input {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            background: none;
            outline: none;
            resize: none;
            border: 0;
            transition: all .3s;
            border-bottom: 2px solid $background-color-1;
        }

    input:focus {
        border-bottom: 2px solid $background-color-3;
    }

    p:before {
        content: attr(type);
        display: block;
        margin: 1.5rem 0 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color-1;
    }

    .enviar, .adjuntar {
        float: left;
        padding: 1rem 1.2rem;
        margin: 1rem 0 0;
        border: 2px solid $background-color-1;
        background: 0;
        color: $text-color-1;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            background-color: $background-color-1;
            color: $text-color-2;
        }
    }

    .adjuntar {
        float: right;
    }
    
    }


    h2 {
        font-size: 5rem;
        color: $text-color-1;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        font-size: 3.5rem;
        color: $text-color-1;
        text-align: center;
        font-weight: bold;
        margin-top: 5rem;
    }
}

.my-form1 {
    text-align: center;

    h2 {
        font-size: 3.5rem;
        color: $text-color-1;
        text-align: center;
        font-weight: bold;
        margin-top: 4rem;
    }

    svg {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .face {
        color: $background-color-6;
    }

    .insta {
        color: $background-color-7;
    }
}

/* MAIN de Nuestros Servicios */

.my_cards1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my_cards {
    @include general;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.ver_mas3 {
    text-align: center;
    font-size: 2rem;

    .button_Ver3 {
        @include button;
        margin-top: 1rem;
        background-color: $background-color-2;
        border: 3px solid $background-color-1;
        padding: 0.5rem;
        position: relative;
        z-index: 1;
        top: -10rem;

        &:hover {
            background-color: $background-color-1;
            font-weight: bold;
            transition: all 1s;

            a {
                color: $text-color-2;
            }
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: $text-color-1;
    }
}
/* MAIN de Novedades */

.my-imgs {
    text-align: center;

    a {
        font-size: 4rem;
        text-decoration: none;
        color: $text-color-1;

        &:hover{
            text-transform: uppercase;
        }
    }

    p {
        font-size: 2.5rem;
        margin-top: 3rem;
    }
}

/* MAIN de Covid */

.my-text {
    color: $text-color-1;

    h1, h3 {
        font-size: 5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-weight: bold;
    }

    h2, h4 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    p {
        font-size: 2rem;
        color: $text-color-6;
    }

    li {
        font-size: 2rem;
        color: $text-color-6;
        margin-bottom: 1rem;
    }
}

/* MAIN de 8_tips */

.my-text1 {
    color: $text-color-1;

    h1 {
        font-size: 5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-weight: bold;
    }

    p {
        font-size: 2rem;
        color: $text-color-6;
        margin-bottom: 2rem;
    }
}