$text-color-1: #1f698c;
$text-color-2: white;
$text-color-3: #62a5d9;
$text-color-4: #e48325;
$text-color-5: #5da5df;
$text-color-6: grey;
$background-color-1: #1f698c;
$background-color-2: white;
$background-color-3: #e48325;
$background-color-4: #40d7ae;
$background-color-5: #5da5df;
$background-color-6: #1977f3;
$background-color-7: #c1158d